services:
  app:
    build:
      context: .
      dockerfile: {{ if .IsMono }}backend/{{ end }}deployments/Dockerfile
    ports:
      - "8080:8080"
    restart: always
    {{- if .UseDB }}
    depends_on:
      - db
    environment:
      - DB_HOST=db
    {{- end }}

{{- if .UseDB }}
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
{{- end }}